{
    "rules": {
        "no-unused-vars": [
            "warn",
            { "vars": "local", "args": "none", "ignoreRestSiblings": true }
        ],

        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn"
    },
    "plugins": ["react"],

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "babel-eslint"
}
